#header img{
    width: 75px;
    height: 50px;
}
#header{
    background-color: rgb(75, 0, 124);
}
#header h2{
    font-family: 'Playfair Display SC',serif;
}

#site .btn{
    background-color: rgb(75, 0, 124);
    
}

#site h3, h5{
    font-family: 'Playfair Display SC',serif;
}

#aa-wp{
    background-color: rgb(251, 255, 197);
}

#footer .btn{
    background-color: rgb(75, 0, 124);
}

#footer{
    background-color: rgb(194, 132, 231);
}

#lista{
    display: inline-block;
}
